.read-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.full-button {
  width: 100%;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: white !important; }

.full-width {
  width: 100%; }
  .full-width li {
    width: 100%; }

.card-image {
  min-height: 280px !important;
  max-height: 280px !important; }

.offer-item-img {
  display: block;
  min-height: 280px;
  background-size: cover;
  background-position: center; }

.table-wrapper tbody {
  font-size: 0.75em; }
  .table-wrapper tbody tr:hover {
    background-color: #F9F9F9; }

.footer-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-placeholder > .logo-holder {
    padding-right: 3em;
    margin-right: 3em;
    border-right: 1px solid #3B3B3B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    height: inherit;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto; }
  .footer-placeholder > .other_nav a {
    float: left;
    clear: left;
    text-decoration: underline; }

.copyright {
  text-align: center !important;
  margin-top: 2em !important; }

/* .promo-container  {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-width: 1300px;

    >.promo-content {
        display: flex;
        flex: 1;
        height: 140px;
        padding-right: 6em;
        background-color: red;
        justify-content: flex-end;
        &:last-child {
            justify-content: flex-start;
            background-color: green;
            padding-left: 6em;
            padding-right: 0px;
        }
        >.content {
            width: 50%;
            background-color: yellow;
        }
    }
}*/
@media screen and (max-width: 736px) {
  .footer-placeholder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer-placeholder > .logo-holder {
      display: none; }
    .footer-placeholder > .other_nav {
      text-align: center; }
      .footer-placeholder > .other_nav a {
        padding-right: 0.5em;
        float: none !important;
        text-align: center; }
  .footer-information {
    text-align: center; } }

@media screen and (max-width: 1680px) {
  .table-wrapper tbody {
    font-size: 1em; } }
