.env
.env.example
.htaccess
composer.json
composer.lock
craft
craft.bat
prepros-6.config
/config
/dev
/modules
/storage
/vendor
/web/cpresources
/web/https_
/web/index.php
/web/web.config
/web/assets/images
/Prepros Export
/backup-files