.bg-white {
    background-color: white;
    padding-right: 1em !important;
    padding-bottom: 1em !important;
    margin-right: 1%;
}

.kayaklist {
    .no-hover:hover {
        background-color: white;
    }
    tr:hover {
        background-color: red;
    }
    td img {
        width: 25%;
    }
}

hr {
    border-color: #f3f3f3;
}

.header-image {
    height: 120px;
}

.header-link {
    float: left !important;
}

.offer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 2em;
    > .card {
        padding: 1em;
        margin-right: 1%;
        margin-bottom: 1%;
        width: 32.33%;
        background-color: white;
        border:1px solid #f3f3f3;
        ul {
            margin: 0 !important;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.social-media {
    display: flex;
    justify-content: center;
    h3 {
        font-size: 1.1em;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    a {
        margin-right: 1% !important;
        margin-left: 1% !important;
    }
    i {
        color: #5d6151;
    }
}

/* #one {
    background-image: url(/images/fisherman.svg);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 40%;
    background-position-y: 100%;
} */

.footer-information {
    color: #f3f3f3 !important;
}

.copyright {
    color: #5d6151 !important;
    a {
        color: #5d6151 !important;
        font-weight: bold;
    }
}

/* CSS */

#movie {
    padding: 0 0 4em 0;
}

#movie .inner {
    display: flex;
}

#movie .content {
    width: 50%;
    padding-right: 6em;
}

#movie .content:last-child {
    padding-left: 6em;
    padding-right: 0em;
}

#partners {
    background-color: #5d6151;
    color: #f2a3a5;
    padding: 4em 0 2em 0;
    background: #5d6151;
}

#partners h3 {
    color: #fff;
}

#howto {
    background-color: #5d6151;
    color: #e1e2dc;
    padding: 4em 0 2em 0;
    background: #5d6151;
}

#howto h3 {
    color: #fff;
}

iframe {
    width: 100% !important;
    height: 640px !important;
}

.tdOption, .tdPrice {
    text-align: right;
}

.product-info {
    display: flex;
}
    .product-info .text {
        width: 50%;
        padding-right: 6em;
        margin-bottom: 2em;
    }
    .product-info .description {
        width: 50%;
    }

@media screen and (max-width: 736px) {
    .product-info {
        flex-direction: column;
    }
    .product-info .description {
        width: 100%;
    }
    .product-info .text {
        width: 100%;
        padding-right: 0;
    }

    .offer-wrapper {
        flex-direction: column;
        > .card {
            width: 100% !important;   
            margin-bottom: 5% !important;
        }
    }

    .social-icons {
        padding-bottom: 32px;
    }

    .header-image {
        padding-top: 10px;
        height: 70px;
    }    
}