// Version 2 updates
.read-button {
    display: flex;
    flex: 1;
    flex-basis: auto;
    align-items: flex-end;
}

.full-button {
    width: 100%;
    box-shadow: none !important;
    //background-color: #5d6151 !important;
    color: white !important;
}

.full-width {
    width: 100%;
    & li {
        width: 100%;
    }
}

.card-image {
    min-height: 280px !important;
    max-height: 280px !important;
}

.offer-item-img {
    display: block;
    min-height: 280px;
    background-size: cover;
    background-position: center;
}

// Table offer item

.table-wrapper {
    tbody {
        font-size: 0.75em;
        tr {
            &:hover {
                background-color: #F9F9F9;
            }
        }
    }
}

// Footer

.footer-placeholder {
    display: flex;
    > .logo-holder {
        padding-right: 3em;
        margin-right: 3em;
        border-right: 1px solid #3B3B3B;
        display: flex;
        width: 30%;
        height: inherit;
        justify-content: flex-end;
        align-items: center;
        height: auto;
    }
    > .other_nav {
        a {
            float: left;
            clear:left;
            text-decoration: underline;
        }
        h3 {
            
        }
        >.links {
            display: flex !important;
            flex-direction: column;
            margin-bottom: 1em;
        }
        >.icons {
            display: flex !important;
            flex-direction: row;
            i {
                font-size: 2.5em !important;
                margin-right: .5em;
            }
        }
    }
}

.copyright {
    text-align: center !important;
    margin-top: 2em !important;
}

nav {
    i {
        font-size: 1.35em !important;
    }
}
// Test a new section main promos

/* .promo-container  {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-width: 1300px;

    >.promo-content {
        display: flex;
        flex: 1;
        height: 140px;
        padding-right: 6em;
        background-color: red;
        justify-content: flex-end;
        &:last-child {
            justify-content: flex-start;
            background-color: green;
            padding-left: 6em;
            padding-right: 0px;
        }
        >.content {
            width: 50%;
            background-color: yellow;
        }
    }
}*/

@media screen and (max-width: 736px) {
    .footer-placeholder {
        flex-direction: column;
        > .logo-holder {
            display: none;
        }
        >.other_nav {
            display: block;
            text-align: center;
            a {
                padding-right: 0.5em;
                float: none !important;
                text-align: center;
            }
            >.icons {
                display: flex !important;
                flex-direction: row;
                justify-content: center;
                i {
                    font-size: 4em !important;
                }
            }
        }
    }
    .footer-information {
        text-align: center;
    }
    .soc-icons {
        font-size: .5rem !important;
    }
}

@media screen and (max-width: 1680px) {
    .table-wrapper {
        tbody {
            font-size: 1em;
        }
    }
}