// Version 2 updates
.read-button {
    display: flex;
    flex: 1;
    flex-basis: auto;
    align-items: flex-end;
}

.full-button {
    width: 100%;
    box-shadow: none !important;
    //background-color: #5d6151 !important;
    color: white !important;
}

.full-width {
    width: 100%;
    & li {
        width: 100%;
    }
}

.card-image {
    min-height: 250px !important;
}

// Test a new section main promos

/* .promo-container  {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-width: 1300px;

    >.promo-content {
        display: flex;
        flex: 1;
        height: 140px;
        padding-right: 6em;
        background-color: red;
        justify-content: flex-end;
        &:last-child {
            justify-content: flex-start;
            background-color: green;
            padding-left: 6em;
            padding-right: 0px;
        }
        >.content {
            width: 50%;
            background-color: yellow;
        }
    }
}*/